.home{
   color: #2038c1;
   background-color: bisque;
   text-align: center;
   margin: auto;
   width: 50%;
   /*margin: 50px;
   padding: 50px;

   /*margin-top: 50px;
   margin-right: 100px;
   margin-bottom: 50px;
   margin-left: 100px;*/
   /*margin: 50px 100px*/
   margin: 50px 100px 150px 200px;
   background-color: aquamarine;

}

body{
    margin: avto;
    
}
h1{
    text-align: center;

    
}



